.image-with-stickers {
    position: relative;
    padding: 35px 0 48px;
    max-width: 1048px;
    margin: 35px auto 0;

    &--remove-image {
        margin: 0;
    }

    &--remove-top-sticker {
        padding-top: 0;
    }

    &--remove-bottom-sticker {
        padding-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        padding: 63px 0 80px;
        margin-top: 41px;

        &--remove-image {
            margin: 0;
        }

        &--remove-bottom-sticker {
            padding-bottom: 0;
        }
    }

    .top-sticker {
        position: absolute;
        left: 20px;
        top: 0;

        @media screen and (min-width: 768px) {
            left: 137px;
        }
    }

    .bottom-sticker {
        position: absolute;
        right: 16px;
        bottom: 0;

        @media screen and (min-width: 768px) {
            right: 123px;
        }
    }
}