.bottom-sticker {
  position: absolute;
  border-radius: 50%;
  width: 96px;
  height: 96px;

  @media screen and (min-width: 768px) {
    width: 160px;
    height: 160px;
  }

  &--primaryRed {
    background-color: #DD0031;
  }

  &--secondaryBlue {
    background-color: #004F71;
  }

  &--secondaryTeal {
    background-color: #3EB1C8;
  }

  &--tertiaryTan {
    background-color: #F5E3CC;
  }

  .brand-icon {
    margin-left: 5px;
    margin-top: 4px;

    @media screen and (min-width: 768px) {
      // Need to adjust with bigger icon
      margin-left: 37px;
      margin-top: 38px;
    }
  }
}