.team-member-profile-image {

    border: 4px dotted;
    color: #DD0031;
    height: 155px; 
    width: 155px; 
    border-radius: 50%; 
    text-align: center; 

  &__img {
    height: 136px;
    width: 136px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
}